<%- include("header") -%>
<h2>
  This is about page.
  </h2>
  <p>
    jdsjfjweijf sdhfiu wheife fs fsm fd fdjd faj ;lfjasjf ;ioawefo efe;fsdkfsduhfsdbfjksgef s fhs favicon
  </p>
<%- include("footer") -%>
